mixin partnership-card(text)
  .partnership-card
    img(src="images/Icon_document.png", alt="Иконка документа").partnership-card__image
    p.partnership-card__text.text-light= text 
    button.partnership-card__button Загрузить
